body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}


.inside-container {
    background: #1f88ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1f88ff, #4da0ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1f88ff, #4da0ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1f88ff, #4da0ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1f88ff, #4da0ff); /* Standard syntax */
 padding: 2px 25px;
 height: 57vh;
}

h4 {
    font-size: 4.8vw;
    padding-top: 2px;
}

.ticket {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    padding-top: 2px;
}

#dots-box {
    height: 4vh;   
}


.center {
    text-align: center;
}

span.active {
    color: white;
}

.row-horizon {
    margin: 0px 5px;
}

.title {
 padding-top: 5px 5px;    
}

.event {
    padding: 0px;
    margin: 0px;
}

.left {
    text-align: left;
}


img#banner-image  {
    width: inherit;
}

.heading, .inside-container {
        margin: 0px;
}

.heading  {
   background-color: #1f88ff; 
    padding: 10px 10px 10px;
    font-size: 4vw;
}


div.left {
    padding-left: 8px;   
}



h3.ticket-label, h2.ticket-label {
    text-transform: uppercase;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    font-size: 3.5vw; 
    text-align: left;
    color: black;
}


td h4 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

img.appleWallet{
   width: 30%;
   margin: 20px 0px;
}


#qrCode{
    height: 35vw;
    float: none;
    margin: 0 auto;
    display: block;
}

#qrContainer{
    margin-top: 20px;
    margin-bottom: 5px;
    background: white;
    border-radius: 10px;
    width: 43vw;
    height: 45vw;
    padding: 9px 9px 2px 9px;
}
#barcodeNumber{
    padding-top: 4px;
    color: grey;
    text-align: center;
    font-size: 4vw;
    display: block;
}

.long-title {
    padding-top: 2px;
    font-size:3.5vw; 
    white-space: nowrap;   
}


