<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="stylesheets/site.css" rel="stylesheet" />

	<script
	  src="https://code.jquery.com/jquery-3.2.1.js"
	  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  crossorigin="anonymous"></script>

 	<!-- Use title if it's in the page YAML frontmatter -->
    	<title><%= current_page.data.title || "S. Hayden" %></title>

    
</head>
	<body class="<%= page_classes %>">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">


        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="images/NickAkins.jpg" style="width:100%" alt="photo">
          </div>
          <div class="w3-container">
	          <h2>S. Hayden</h2>
            <p><i class="fa fa-laptop fa-fw w3-margin-right w3-large w3-text-indigo"></i>Software Developer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-indigo"></i>Columbus, OH</p>
            <hr>
				  </div>
			  </div>
        <br>
        <!-- Contact -->
	      <div class="w3-indigo w3-text-white w3-card-4">
          <div class="w3-container contact center">

				    <table align="center"><tr>
            <th><a href="https://www.linkedin.com/in/stephanie-hayden-b27178112/"> <img class="ico" src="images/linkedin.svg" ></a></th>
				    <th><a class="button" href="#popup1"><img class="ico" src="images/envelope.svg" ></a></th>
				    <th><a class="button" href="https://github.com/hayden159"><img class="ico" src="images/github.png" ></a></p></th>
            </tr></table>
	 	      <p class="w3-text-white w3-center">professional resume and portfolio by stephanie hayden</p>
		       <br>

          <!-- Popup -->
		      <div id="popup1" class="overlay">
			      <div class="popup">
				      <h2>Buckeyemail</h2>
				      <a class="close" href="#">&times;</a>
				      <div class="content">
					      hayden.159@osu.edu
				      </div>
			      </div>
		      </div>
        </div>

        </div> <!-- End contact -->
	<br>
      </div> <!-- End Left -->
	

      <!-- Right Column -->
      <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
			      <h2 class="w3-text-indigo"><%= @this_page %></h2>
		        <a href="index.html" class="w3-text-grey w3-bar-item w3-button ">About</a>
		        <a href="code.html" class="w3-text-grey w3-bar-item w3-button">Code</a>
		        <a href="experience.html" class="w3-text-grey w3-bar-item w3-button">Experience</a>
		        <a href="entrepreneurial.html" class="w3-text-grey w3-bar-item w3-button ">Entrepreneurial</a>
		        <a href="academics.html" class="w3-text-grey w3-bar-item w3-button ">Academics</a>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <%= yield %>
      </div>

      </div> <!-- End right column-->


    </div> <!-- End Grid -->
  </div> <!--End Page Container -->
 
  
  <script src="javascripts/site.js"></script>

  </body>
</html>
