<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Stephanie" %></title>

      <link href="stylesheets/site.css" rel="stylesheet" />
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">

	<!-- Page -->
	<div class="w3-content" style="max-width:1500px">

	<!-- Header -->
	<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
	  <h1 class="w3-xlarge">STEPHANIE HAYDEN</h1>
	  <h1>software developer</h1>
	  
	  <div class="w3-padding-32">
		<div class="w3-bar w3-border">
		  <a href="index.html" class="w3-bar-item w3-button w3-hide-small">About</a>
		  <a href="code.html" class="w3-bar-item w3-button">Code</a>
		  <a href="experience.html" class="w3-bar-item w3-button">Experience</a>
		  <a href="entrepreneurial.html" class="w3-bar-item w3-button w3-hide-small">Entrepreneurial</a>
		  <a href="academics.html" class="w3-bar-item w3-button ">Academics</a>
		  <a href="art.html" class="w3-bar-item w3-button w3-hide-medium w3-hide-small">Art</a>
		</div>
	  </div>
	</header>
	<!-- End header -->

    <%= yield %>

	</div>
	<!-- End page -->


	<!-- Footer -->
	<footer class="w3-container w3-padding-64 w3-dark-grey w3-center w3-large">

	<div class="contact">
		<table class="center">	
		  <tr>
			<th>
				<a href="https://www.linkedin.com/in/stephanie-hayden-b27178112/"> <img class="ico" src="images/linkedin.svg" > </a>
			</th>
			<th>
				<a class="button" href="#popup1"><img class="ico" src="images/envelope.svg" ></a>
			</th>
		  </tr>
		</table>

	 	<p class="w3-center">stephanie hayden professional resume and portfolio</p>

		<!-- Popup -->

		<div id="popup1" class="overlay">
			<div class="popup">
				<h2>Buckeyemail</h2>
				<a class="close" href="#">&times;</a>
				<div class="content">
					hayden.159@osu.edu
				</div>
			</div>
		</div>
	</div>
	</footer>
	<!-- End footer -->

  </body>
</html>
