html, body, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  color: gray; }

h1, h2 {
  font-family: "Source Code Pro", sans-serif; }

h1 {
  letter-spacing: 6px; }

.w3-row-padding img {
  margin-bottom: 12px; }

/***************
contact
**************/
.contact table.center {
  margin-left: auto;
  margin-right: auto; }

.contact {
  text-align: center; }

.contact br {
  display: block;
  margin: 10px 0; }

.contact table {
  border-collapse: collapse;
  text-align: center;
  width: 100%; }

.contact th {
  max-width: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  padding-bottom: 20%; }

.contact .ico {
  width: 100%;
  display: block; }

.contact .ico:hover {
  opacity: 0.3;
  filter: alpha(opacity=100); }

.button {
  transition: all 0.3s ease-out; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out; }

.popup h2 {
  margin-top: 0;
  color: #333; }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #06D85F; }

.popup .content {
  color: black;
  max-height: 30%;
  overflow: auto; }

@media screen and (max-width: 700px) {
  .box {
    width: 70%; }

  .popup {
    width: 70%; } }
/***************
skills
**************/
.link {
  font-color: navy;
  font-size: 80%; }

.skills .tiny p {
  font-size: 75%; }

.skills .active {
  background-color: white !important;
  color: black !important; }

.skills {
  color: grey; }

.favorite-skills span {
  color: white;
  margin: 10px;
  background: #707070;
  border: 1px;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  /**click events**/
  cursor: pointer;
  user-select: none; }

.experience-with span, .code-project span {
  color: white;
  font-size: 80%;
  margin: 10px;
  background: #888888;
  border: 1px;
  border-radius: 5px;
  padding: 6px 8px;
  text-align: center;
  display: inline-block;
  /**click events**/
  cursor: pointer;
  user-select: none; }

/***************
projects
**************/
.project {
  color: black; }

#projects a {
  color: Navy; }

.code-project {
  margin: 20px;
  padding: 20px; }

/***************
homepage 
**************/
.index .center {
  text-align: center; }

/***************
art 
**************/
.art {
  display: block;
  width: 50px;
  margin: 0 auto 20px; }
