<% @this_page = "Academics" %>

<h3>B.A. Computer and Information Science at Ohio State University, Expected May 2018</h3>
<p>G.P.A. 3.6</p>

<h3>Relevant Courses taken at Ohio State University</h3>
<p>
Web Applications using Ruby on Rails, Javascript, HTML/CSS<br>
Systems I and II using x86 Assembly and C<br>
Software I and II using Java<br>
Foundations I and II: Discrete Structures<br>
Discrete Mathematics<br>
Calculus-based Statistics for Engineers<br>
Calculus I and II<br>
3D Computer Modeling<br>
Entrepreneurship for startups<br>
</p>
