
<% @this_page = "Code" %>

<div class="code">
<br>
<div class ="skills">
	<p class="tiny">Select tags to sort code projects by relevance.</p>

	<div class="favorite-skills">
	  <% data.skills.favorites.each do |f| %>
	  <span class="skill"><%= f %></span>
	  <% end %>
	</div>

	<div class="experience-with">
	  <% data.skills.experienceWith.each do |f| %>
	  <span class="skill"><%= f %></span>
	  <% end %>
	</div>

	<div id="projects">
	<div class ="code-project w3-card-2">
	  <p>Implemented a Ruby on Rails project with four other group members. It is a registration system for summer camps at OSU. Parents are able to add thier child to the system and register them for multiple number of camps. The application validates that the camper is not placed in camps with conflicting times, and that he/she is the correct age. It has a user friendly graphical interface. It uses an SQLite database.</p>
	  <span>Ruby on Rails</span>
	  <span>HTML</span>
	  <span>CSS</span>
	  <span>SQL</span>
	  <span>Github</span>
	<a href="http://camprecky2017.herokuapp.com/" class="link">Camp Recky Heroku App</a>
	</div>


	<div class ="code-project w3-card-2">
	  <p>Migrated this site from <a href="https://stephaniehayden.wordpress.com">my wordpress blog</a>. Before, I used wordpress to generate all my pages by typing my content into their text editor. After taking a web applications course, I built this website using my own HTML, CSS, and JavaScript. I used MiddleMan along with .yml data pages, embedded ruby, and a single-point-of-change layout.</p>
	  <span>Javascript</span>
	  <span>HTML</span>
	  <span>MiddleMan</span>
	  <span>CSS</span>
	  <span>Embedded ruby</span>
	  <span>Github</span>
	  <a href="#" class="link">hayden159.github.io</a>
	</div>

	<div class ="code-project w3-card-2">
	  <p>Used semaphores, shared memory and fork system calls to create multiple synchronized processes in C.</p>
	  <span>C</span>
	  <span>Semaphores</span>
	  <span>Shared memory</span>
	  <span>Threads</span>
	</div>

	<div class ="code-project w3-card-2">
	  <p>Implemented a Ruby Program which submitted a search at jobsatosu.com, parsed the HTML response using Nokogiri, and then generated a new webpage with a custom CSS style sheet. Worked with four other group members.</p>
	  <span>Ruby</span>
	  <span>HTML</span>
	  <span>Nokogiri</span>
	  <span>CSS</span>
	  <span>Github</span>
	</div>

	<div class ="code-project w3-card-2">
	  <p>Implemented Kruskal’s algorithm (a Minimum Spanning Tree problem) in Java. </p>
	  <span>Java</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented a Javascript calculator with four other group members.</p>
	  <span>Javascript</span>
	  <span>HTML</span>
	  <span>MiddleMan</span>
	  <span>CSS</span>
	  <span>Github</span>
	</div>

	<div class ="code-project w3-card-2">
	  <p>Implemented an interpreter that read Brain Language (a Turing complete language that only uses the characters “><+-.,[]”) and executed it’s instructions in x86 Assembly. </p>
	  <span>x86 assembly</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented a multi-dimensional matrix operation program that uses function pointers to update a collection of C structs </p>
	  <span>C</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented a Sorting Machine class layered on Queue and Array using heap sort in Java. </p>
	  <span>Java</span>
	  <span>Object oriented</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented a Java-based RSS reader that output HTML index pages for an RSS feed.</p>
	  <span>Java</span>
	  <span>HTML</span>
	  <span>XML/RSS</span>
	</div>
	
	
	<div class ="code-project w3-card-2">
	  <p>Implemented a Java program that used Fermat’s “little” theorem to find the likeliness of large numbers being prime in Java. Implemented this project in C later, and then in x86 Assembly.</p>
	  <span>Java</span>
	  <span>C</span>
	  <span>x86 Assembly</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented JUnit test cases for many projects in Java.</p>
	  <span>Testing</span>
	  <span>Java</span>
	  <span>Eclipse</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Implemented Ruby wrapper scripts in order to deploy a new continuous integration application. Simultaneously found and fixed minor bugs in the continuous integration application, which was written in C#.</p>
	  <span>Testing</span>
	  <span>Continuous integration</span>
	  <span>Tactical radio software</span>
	  <span>Bamboo</span>
	  <span>C#</span>
	  <span>Visual Studio</span>
	</div>
	
	<div class ="code-project w3-card-2">
	  <p>Resolved multiple software bugs in a C++ source code repository 12 million lines of code long. Updated status of the bugs and documented progress in JIRA.</p>
	  <span>C++</span>
	  <span>Tactical radio software</span>
	  <span>JIRA</span>
	  <span>Visual Studio</span>
	</div>
	</div>
</div>
</div>


