

<% @this_page = "About" %>


<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-code fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Hello World</h2>

<br>


	<p>&nbsp;&nbsp;&nbsp;&nbsp;I came from a small town where high school computer sciences classes did not exist. I was good at math, so I declared Computer and Information Science as my major at Ohio State University in Columbus, Ohio. After one year of programming experience, I taught beginning Java courses to children at iD Tech in Cleveland, Ohio. After two years of college I began a software engineering internship at Harris Communication Systems in Rochester, New York, where I worked with embedded software and continuous integration on the Multi-Channel Manpack Radio. I graduate May 2018 and I currently work part time with the web hosting team at Ohio State University's Office of the Cheif Information Officer.</p>



<br>
<p class="center">I aspire to be a Ruby on Rails developer in Columbus, Ohio.</p>



